* {
  /* This is a website refresh in the universal code */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  background-color: #515050;
  color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
}
#navbar ul li a {
  color: whitesmoke;
  text-decoration: none;
  list-style: none;
}
#navbar ul li a:hover {
  text-decoration: underline;
}
#navbar li {
  display: inline-block;
  padding: 0 1rem;
}

.logo {
  cursor: pointer;
}
