:root {
  --darkgrey: #515050;
  --white: whitesmoke;
  --hover: #cacccc;
  --lightgrey: #d9d9d9;
}

* {
  /* This is a website refresh in the universal code */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  background-color: var(--darkgrey);
  color: var(--white);
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
}
#navbar ul li a {
  color: var(--white);
  text-decoration: none;
  list-style: none;
}
#navbar ul li a {
  /* transition effect */
  transition: all 0.3 ease 0s;
}
#navbar ul li a:hover {
  color: var(--hover);
}
#navbar ul li {
  /* make li align horizontally after display flex */
  display: inline-block;
  padding: 0 1rem;
}

/* no display on hamburger until called */
.hamburger {
  display: none;
  cursor: pointer;
}

/* creating hamburger bars */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.logo {
  cursor: pointer;
}
section,
footer {
  padding: 0 10%;
}

section.hero__container {
  background-color: var(--lightgrey);
  height: 80vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;
  gap: 8rem;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
}

section.hero__container img {
  height: 400px;
  width: 500px;
  border-radius: 10%;
  object-fit: cover;
}

div.hero__body {
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 10%;
  padding: 4rem 4rem;
  overflow: hidden;
}

#skills {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--lightgrey);
  height: 35vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

div.container__skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;
  overflow: hidden;
}

footer.footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
}

footer.footer a {
  color: var(--darkgrey);
  text-decoration: none;
}

footer.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 880px) {
  .logo {
    position: fixed;
    font-size: 1rem;
  }
  .hamburger {
    display: block;
  }

  /* dissapears second bar */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  /* Rotates the 1st and last bar to create an X effect */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ul.nav__links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--darkgrey);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 3rem;
  }
  li.nav__link {
    margin: 1rem 0;
  }

  ul.nav__links.active {
    left: 0;
    height: 3rem;
  }
}
